!!------------------------------------------------------------------------------
!!----------------------------- Font configuration -----------------------------
Xft.autohint:           0
Xft.lcdfilter:          lcddefault
Xft.hintstyle:          hintslight
Xft.hinting:            1
Xft.antialias:          1
Xft.rgba:               rgb
Xft.dpi:                96
!!------------------------------------------------------------------------------
!!----------------------------------- URxvt ------------------------------------
!!-------- Appearance ----------------------------------------------------------
urxvt*transparent:      true
urxvt*shading:          30
URxvt.scrollBar:        False
URxvt.iso14755:         False
URxvt.reverseVideo:     True
URxvt.font:             xft:inconsolata:pixelsize=14
URxvt.colorUL:		      #4682B4
!!------------------------------------------------------------------------------
!!-------- Keybindings ---------------------------------------------------------
!! Control + Up/Down (resize-font)
URxvt.perl-ext-common:	      default,resize-font,url-select
URxvt.resize-font.smaller:	  C-Down
URxvt.resize-font.bigger:	    C-Up
!!-----------------------------------
!! Control + Left/Right (word jump)
*URxvt*keysym.C-Right:		    \033[1;5C
*URxvt*keysym.C-Left:		      \033[1;5D
!!-----------------------------------
URxvt.url-select.underline:   true
!-------------------------------------------------------------------------------
!!----------------------------------- Colors -----------------------------------

! blue
*.color4:       #404fe7
*.color12:      #4063e7

!!------------------------------------------------------------------------------
